{{#section 'css'}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css" />

<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->{{/section}}

{{#section 'js'}}
  <script src="https://cdn.tiny.cloud/1/ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  
    
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/themes/fa4/theme.min.js"></script>

<script>

    tinymce.init({
      selector: '#txtFullDes',
      menubar: false,
      plugins: 'paste image link autolink lists table media',
      toolbar: [
        'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
      ],
    });
  </script>

  <script>
    $('#fuMain').fileinput({
      dropZoneEnabled: false,
      maxFileCount: 1,
      theme: 'fa4',
      allowedFileExtensions: ['png'],
    });
  </script>
  
  
  <script>
    $(document).ready(function() {
    var count ={{curcounter}};
    var wrapper = $("#Content");
    var addChap = $("#addChapterbtn");

   
    $(addChap).click(function(e) {
        e.preventDefault();
        
            		let html = `<div id="Chapter" data-count="`+ count +`">
			<div class="row d-flex align-items-center mt-3" >
				<div class="form-group col-10">
					<label for="txtCourseName">Chapter name</label>
					<input name="chapter[`+count+`]name" type="text" class="form-control" id="txtCourseName" autofocus placeholder="iPhone">
				</div>
				<div class="col-2 d-flex flex-column">
          <a class="btn btn-danger py-1" id="removeChapter" onClick="return this.parentNode.parentNode.remove()">
            
            Remove
          </a>
          <a class="btn btn-primary py-1 mt-1" id="addLessonbtn">
					
					Add
				</a>
        </div>
			</div>
		  
			<div id="Lesson" class="pb-3 row d-flex justify-content-center">
				
				
			</div>
			
      </div>
		  `
     $(wrapper).append(html); //add input box
     count++;
    });

    $(wrapper).on("click", "#addLessonbtn", function(e) {
        e.preventDefault();
       let t = $(this).parent('div').parent('div').parent('div');
       let chapCount = t.data('count');
      
      let lesContainer = t.children('div#Lesson');
     		let html = `
        <div class="row col-11 d-flex align-items-center pt-2 pb-3 mt-2" style="background-color: #bec4d6; border-radius: 15px;" >
					<div class="col-10">
						<div class="form-group">
							<label for="txtLessonName">Lesson name</label>
							<input name="chapter[` +chapCount+`]lessonName[]" type="text" class="form-control" id="txtLessonName" autofocus placeholder="Lesson">
						</div>
					
						<div class="form-group">
							<label for="txtLessonUrl">Video url</label>
							<input name="chapter[`+chapCount+`]lessonUrl[]" type="text" class="form-control" id="txtLessonUrl" autofocus placeholder="video url">
						</div>
					</div>
          <div class="col-2 d-flex flex-column">
					<a class="btn btn-danger" id="removeLesson" onClick="return this.parentNode.parentNode.remove()">
						
						Remove
					</a>
          </div>
          </div>
		` ;
        $(lesContainer).append(html);
    })

      var fieldSelect = $("#txtField");
      var catSelect = $("#txtCat");
      
      $(fieldSelect).on("change", ()=>{
        let idx = $(fieldSelect).prop('selectedIndex');
        $(catSelect).empty();
   
        let cur = lcField_Catergories[idx]
        
        for (let i = 0; i < cur.length; i++) {
   $(catSelect).append(`<option value="`+cur[i].ID_CATERGORY+`">`+ cur[i].name+`</option>`);
}
        
      });
    
});
</script>
	
  
 
  
{{/section}}

<form method="post" enctype="multipart/form-data">
  <div class="card">
    <h4 class="card-header">
      Edit Course
    </h4>
    <div class="card-body">
		<div class="form-group">
			<label for="txtCourseName">Course name</label>
			<input name="CourseName" type="text" class="form-control" id="txtCourseName" autofocus value="{{course.COURSENAME}}">
		</div>

		<div class="row">
			<div class="form-group col-6">
				<label for="txtPrice">Price</label>
				<input name="Price" type="text" class="form-control" id="txtPrice" autofocus value="{{course.PRICE}}">
			</div>
	  
			<div class="form-group col-3">
				<label for="txtField">Field</label>
				<select class="form-control" id="txtField" name="Field">
						
					{{#each lcField_Catergories}}
					<option value={{field.ID_FIELD}} {{#if (is_equal field.ID_FIELD course.ID_FIELD)}}selected {{/if}}>{{field.name}}</option>
				
					{{/each}}
				</select>
			</div>
		
			<div class="form-group col-3">
				<label for="txtCat">Catergories</label>
				<select class="form-control" id="txtCat" name="Cat">
			
					{{#each lcField_Catergories[0]}}
					<option value={{ID_CATE}} {{#if (is_equal ID_CATE course.ID_CATE)}}selected {{/if}}>{{name}}</option>
							
							
					{{/each}}
		
				</select>
			</div>
    
		</div>
	  
	    <div class="form-group">
			<label for="fuMain">Image</label>
			<input type="file" multiple id="fuMain" name="fuMain">
		</div>
	  
		<div class="form-group">
			<label for="txtShortDes">Short Description</label>
			<textarea id="txtShortDes" name="ShortDes">{{course.SHORTDES}}</textarea>
		</div>
	  
		<div class="form-group">
			<label for="txtFullDes">Description</label>
			<textarea id="txtFullDes" name="FullDes">{{course.DESCRIPTIONS}}</textarea>
		</div>
	  
	  
		<h4>Lesson content</h4>
		<div id="Content">
		 
			{{#each this.data}}
			<div id="Chapter" data-count="{{@index}}">
			<div class="row d-flex align-items-center mt-3" >
				<div class="form-group col-10">
					<label for="txtCourseName">Chapter name</label>
					<input name="chapter[{{@index}}]name" type="text" class="form-control" id="txtCourseName" autofocus value="{{chapter.CHAPTERNAME}}">
				</div>
				<div class="col-2 d-flex flex-column">
          <a class="btn btn-danger py-1" id="removeChapter" onClick="return this.parentNode.parentNode.remove()">
            
            Remove
          </a>
          <a class="btn btn-primary py-1 mt-1" id="addLessonbtn">
					
					Add
				</a>
        </div>
			</div>
		  
			<div id="Lesson" class="pb-3 row d-flex justify-content-center">
				
				{{#each lessons}}
				<div class="row col-11 d-flex align-items-center pt-2 pb-3 mt-2" style="background-color: #bec4d6; border-radius: 15px;" >
					<div class="col-10">
						<div class="form-group">
							<label for="txtLessonName">Lesson name</label>
							<input name="chapter[{{@../index}}]lessonName[]" type="text" class="form-control" id="txtLessonName" autofocus value="{{LESSONNAME}}">
						</div>
					
						<div class="form-group">
							<label for="txtLessonUrl">Video url</label>
							<input name="chapter[{{@../index}}]lessonUrl[]" type="text" class="form-control" id="txtLessonUrl" autofocus value="{{URL}}">
						</div>
					</div>
          <div class="col-2 d-flex flex-column">
					<a class="btn btn-danger" id="removeLesson" onClick="return this.parentNode.parentNode.remove()">
						
						Remove
					</a>
          </div>
          </div>
				{{/each}}
				
			</div>
			
      </div>
				
			{{/each}}
		 
		 
		</div>
	  
		<a class="btn btn-primary" id="addChapterbtn">
			<!-- <i class="fa fa-check" aria-hidden="true"></i> -->
			Add
		</a>
	  
    </div>
	
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>
