<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="public/css/studentList.scss" />
</head>

<div class="container mt-3 mb-4">
    <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="row">
            <div class="col-md-12">
                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                    <table class="table manage-candidates-top mb-0">
                        <thead>
                        <tr>
                            <th>Student List</th>
                            <th class="text-center">Status</th>
                            <th class="action text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each this.students}}
                                <tr class="candidates-list">
                                    <td class="title">
                                        <div class="col-sm-3">
                                            <img class="rounded-circle shadow-4-strong img-fluid" src="/public/images/users/avatar{{ID_USER}}.png" alt={{ID_USER}}>
                                        </div>
                                        <div class="candidate-list-details">
                                            <div class="candidate-list-info">
                                                <div class="candidate-list-title">
                                                    <h5 class="mb-0"><a href="#">{{FULLNAME}}</a></h5>
                                                </div>
                                                <div class="candidate-list-option">
                                                    <ul class="list-unstyled">
                                                        <li><i class="fas fa-envelope"></i> {{EMAIL}}</li>
                                                        <li><i class="fas fa-user"></i> {{USERNAME}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="candidate-list-favourite-time text-center">
                                        {{#if DISABLE}}
                                            <a class="candidate-list-favourite order-2 text-danger" href="#"><i class="fas fa-lock"></i></a>
                                            <span class="candidate-list-time order-1">Disable</span>
                                            {{else}}
                                            <a class="candidate-list-favourite order-2 text-success" href="#"><i class="fas fa-check"></i></a>
                                            <span class="candidate-list-time order-1">Active</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                            <li><a href="#" class="text-primary" data-toggle="tooltip" title="" data-original-title="view"><i class="far fa-eye"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center mt-3 mt-sm-3">
                        <nav class="shadow-sm">
                            <ul class="pagination">

                                <li class="page-item {{#if hasNotPrev}}disabled{{/if}}">
                                    <a class="page-link" href="?page={{prev}}">Previous</a>
                                </li>
                                {{#each this.pageNumbers}}
                                    {{#if isCurrent}}
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">{{value}}</span>
                                        </li>
                                    {{else}}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{value}}">{{value}}</a>
                                        </li>
                                    {{/if}}
                                {{/each}}
                                {{#if isNotEnd}}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{next}}">Next</a>
                                    </li>
                                {{/if}}

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>